<app-navbar-admin></app-navbar-admin>

<div class="main" id="encomenda">

    <div class="infoDados" style="margin-left: 10%;margin-right: 10%;">
        <h4 class="titulosSeccao">Encomendas</h4>

        <table class="table" id="encomendasAll" style="background-color: white; margin-top: 10%; margin-left: 2%">
            <thead class="thead-dark">
                <tr>
                    <th width="20%">Cliente</th>
                    <th width="12%">Data Encomenda</th>
                    <th width="18%">Prazo Conclusão</th>
                    <th width="20%">Estado</th>
                    <th width="10%" style="text-align: center;">Detalhes</th>
                    <th *ngIf="flagCancelar" width="10%" style="text-align: center;" class="apagar">Eliminar</th>
                    <th *ngIf="flagAlterar" width="10%" style="text-align: center;">Alterar</th>
                </tr>
            </thead>
            <tbody id="encRows">
                <tr *ngFor="let enc of encomendas">
                    <td> <input class="form-control" readonly value="{{enc.emailCliente}}"> </td>
                    <td> <input class="form-control" readonly value="{{enc.data}}"> </td>
                    <td> <input class="form-control" id="tempoConc" #tempoConc value="{{enc.tempoConc}}"> </td>
                    <td>
                        <select id="estado" #estado value="{{enc.estado}}">
                            <option>Em espera</option>
                            <option>Em processamento...</option>
                            <option>Concluida</option>
                            <option>Cancelada</option>
                        </select>

                    </td>
                    <td style="text-align: center;"><button class="btn btn-primary" (click)=verDetalhes(enc)> +
                        </button></td>
                    <td *ngIf="flagCancelar" style="text-align: center;" class="apagar"><button class="btn btn-danger"
                            (click)="confirmacaoApagar(enc)"> - </button></td>
                    <td *ngIf="flagAlterar" style="text-align: center;"><button class="btn btn-light"
                            (click)=alterarEncomenda(enc,tempoConc.value,estado.value)>
                            Alterar </button></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<div class="bg-modal" id="verDetalhes-modal">
    <div class="modal-contents">
        <div class="close" (click)="fecharDetalhes()">+</div>
        <div>
            <h3 class="titulosSeccao" style="margin-top: 2%">Encomenda</h3>
            <table class="table" id="listaEncomendas"
                style="background-color: white; margin-left: 2% ;width: 90%; margin-top: 5%;">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th width="60%" style="text-align: center;">Produto</th>
                        <th width="20%" style="text-align: center;">Quantidade</th>
                        <th width="20%" style="text-align: center;">Preço</th>
                    </tr>
                </thead>
                <tr *ngFor="let prod of produtos; let i = index">
                    <td> {{i+1}}.</td>
                    <td> {{prod.descricao}} </td>
                    <td> {{prod.quantidade}} </td>
                    <td> {{prod.preco}} </td>
                </tr>
            </table>
        </div>
    </div>
</div>