.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}


.modal-contents {
	height: 900px;
	width: 1000px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}

#encomenda {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }

#encomenda::after {
    content: "";
    background: url('https://e3.365dm.com/18/11/1600x900/skynews-delivery-courier_4496646.jpg?bypass-service-worker&20181123101056');
    background-size: 100%;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.hide{
    display: none;
    margin-top: 2%;
    width: 100%;
    height: 60%;
    float: left;
}
