<app-navbar-client></app-navbar-client>

<div class="main" id="encomenda">

    <div>
        <h1 class="titulos">Encomenda</h1>
    </div>

    <div class="produtoSeccao">
        <h3 class="titulosSeccao">Produtos</h3>
        
        <button id="botaoTodos" class="btn btn-primary botaoForm col-1" style="margin-left: 5%;" (click)="showAll()">Todos</button>
        <button id="botaoMaisVezes" class="btn btn-primary botaoForm col-3" style="margin-left: 2%;" (click)="showMaisVezesEncomendados()">Mais Vezes Encomendados</button>
        <button id="botaoMaisEncomendas" class="btn btn-primary botaoForm col-3" style="margin-left: 2%;" (click)="showMaisEncomendas()">Mais Encomendados</button>
        <button id="botaoMenorFabrico" class="btn btn-primary botaoForm col-3" style="margin-left: 2%;" (click)="showMenorFabrico()">Menos Tempo de Fabrico</button>

        <div id="allProdutos" class="classic">
            <table class="table" id="produtosAll" style="background-color: white; margin-top: 1.5%; margin-left: 0.4%; margin-right: 2%;">
                <thead class="thead-dark">
                    <tr>
                        <th width=70%>Descrição</th>
                        <th width=10% style="text-align: center;">Quantidade</th>
                        <th width=10%>Preço Unitário</th>
                        <th width=10% style="text-align: center;">Adicionar</th>
                    </tr>
                </thead>
                <tr *ngFor="let produto1 of produtos">
                    <td>{{produto1.descricao}}</td>
                    <td>
                        <input #quantidade id="quantidade" type="number" min="0"
                            onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                            class="form-control">
                    </td>
                    <td>{{produto1.preco}}€</td>
                    <td>
                        <button (click)="inserirNaEncomenda(produto1, quantidade.value)" type="submit"
                            class="btn btn-primary botaoForm" id=botaoInserir style="margin-top: 0%;">+</button>
                    </td>

                </tr>
            </table>
        </div>

        <div class="hide row" id="produtosMaisEncomendados">
            <table class="table" id="produtosMaisEnc" style="background-color: white; margin-top: 1.5%; margin-left: 2%; margin-right: 2%;">
                <thead class="thead-dark">
                    <tr>
                        <th width=70%>Descrição</th>
                        <th width=10% style="text-align: center;">Quantidade</th>
                        <th width=10%>Preço Unitário</th>
                        <th width=10% style="text-align: center;">Adicionar</th>
                    </tr>
                </thead>
                <tr *ngFor="let produtoEnc of maisEncomendados">
                    <td>{{produtoEnc.descricao}}</td>
                    <td>
                        <input #quantidade id="quantidade" type="number" min="0"
                            onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                            class="form-control">
                    </td>
                    <td>{{produtoEnc.preco}}€</td>
                    <td>
                        <button (click)="inserirNaEncomenda(produtoEnc, quantidade.value)" type="submit"
                            class="btn btn-primary botaoForm" id=botaoInserir style="margin-top: 0%;">+</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="hide row" id="produtosMaisVezesEncomendados">
            <table class="table" id="produtosMaisVezesEnc" style="background-color: white; margin-top: 1.5%; margin-left: 2%; margin-right: 2%;">
                <thead class="thead-dark">
                    <tr>
                        <th width=70%>Descrição</th>
                        <th width=10% style="text-align: center;">Quantidade</th>
                        <th width=10%>Preço Unitário</th>
                        <th width=10% style="text-align: center;">Adicionar</th>
                    </tr>
                </thead>
                <tr *ngFor="let produtoEncomenda of maisVezesEncomendados">
                    <td>{{produtoEncomenda.descricao}}</td>
                    <td>
                        <input #quantidade id="quantidade" type="number" min="0"
                            onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                            class="form-control">
                    </td>
                    <td>{{produtoEncomenda.preco}}€</td>
                    <td>
                        <button (click)="inserirNaEncomenda(produtoEncomenda, quantidade.value)" type="submit"
                            class="btn btn-primary botaoForm" id=botaoInserir style="margin-top: 0%;">+</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="hide row" id="produtosMenorFabrico">
            <table class="table" id="produtosMenorFab" style="background-color: white; margin-top: 1.5%; margin-left: 2%; margin-right: 2%;">
                <thead class="thead-dark">
                    <tr>
                        <th width=40%>Descrição</th>
                        <th width=30%>Tempo de Fabrico</th>
                        <th width=10% style="text-align: center;">Quantidade</th>
                        <th width=10%>Preço Unitário</th>
                        <th width=10% style="text-align: center;">Adicionar</th>
                    </tr>
                </thead>
                <tr *ngFor="let produtoEncomenda of menorTempoFabrico">
                    <td>{{produtoEncomenda.descricao}}</td>
                    <td>{{produtoEncomenda.duracao}}</td>
                    <td>
                        <input #quantidade id="quantidade" type="number" min="0"
                            onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                            class="form-control">
                    </td>
                    <td>{{produtoEncomenda.preco}}€</td>
                    <td>
                        <button (click)="inserirNaEncomenda(produtoEncomenda, quantidade.value)" type="submit"
                            class="btn btn-primary botaoForm" id=botaoInserir style="margin-top: 0%;">+</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="encomendaSeccao">
        <h3 class="titulosSeccao">A sua Encomenda</h3>
        <table class="table" id="encomendaCliente"
            style="background-color:white; margin-top: 9.4%; margin-left: 2%; width: 95%;">
            <thead class="thead-dark">
                <tr>
                    <th width=80%>Descrição</th>
                    <th width=10%>Quantidade</th>
                    <th width=10%>Preço Unitário</th>
                </tr>
            </thead>
            <tr *ngFor="let product of produtosEncomenda"></tr>
        </table>

        <div class="form-group row" style="margin-top: 5%;">
            <label style="margin-left: 5%; margin-top: 1%;" for="example-datetime-local-input"
                class="col-1.5 col-form-label">Preço Total:</label>
            <input style="margin-left: 5%; margin-top: 1%;" type="text" class="col-1 col-form-label" readonly="readonly"
                value="{{preco}}€">
            <label style="margin-left: 5%; margin-top: 1%;" for="example-datetime-local-input"
                class="col-2.5 col-form-label">Data de Conclusão:</label>
            <div class="col-3" style="margin-top: 1%;">
                <input class="form-control" type="date" id="date" #date>
            </div>
            <button (click)="registarEncomenda(date.value)" type="submit" class="btn btn-primary botaoForm col-3"
                id=botaoSubmeter>Efetuar Encomenda</button>
        </div>
    </div>
</div>