<app-navbar-admin></app-navbar-admin>

<div class="main" id="planeamento">

    <div class="infoDados" style="margin-left: 10%;margin-right: 10%;">
        <h4 class="titulosSeccao">Planeamento de Produção</h4>

        <table *ngIf="planeamento; else elseBlock" class="table" id="encomendasAll"
            style="background-color: white; margin-top: 10%; margin-left: 2%">
            <thead class="thead-dark">
                <tr>
                    <th width="20%">Cliente</th>
                    <th width="12%">Data Encomenda</th>
                    <th width="18%">Prazo Conclusão</th>
                    <th width="10%" style="text-align: center;">Detalhes</th>
                </tr>
            </thead>
            <tbody id="encRows">
                <tr *ngFor="let enc of encomendas">
                    <td> <input class="form-control" readonly value="{{enc.emailCliente}}"> </td>
                    <td> <input class="form-control" readonly value="{{enc.data}}"> </td>
                    <td> <input class="form-control" readonly id="tempoConc" #tempoConc value="{{enc.tempoConc}}"> </td>
                    <td style="text-align: center;"><button class="btn btn-primary" (click)=verDetalhes(enc)> +
                        </button></td>
                </tr>
            </tbody>
        </table>

        <ng-template #elseBlock>
            <button width="30%" (click)="planeamentoProducao()" class="btn btn-success" id="botaoEstado"
                style="margin-left: 40%; margin-top: 15%;">Iniciar Planeamento de produção</button>
        </ng-template>

    </div>
</div>

<div class="bg-modal" id="verDetalhes-modal">
    <div class="modal-contents">
        <div class="close" (click)="fecharDetalhes()">X</div>
        <div>
            <h3 class="titulosSeccao" style="margin-top: 2%">Encomenda</h3>
            <table class="table" id="listaProdutos"
                style="background-color: white; margin-left: 2% ;width: 90%; margin-top: 2%;">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th width="60%" style="text-align: center;">Produto</th>
                        <th width="20%" style="text-align: center;">Quantidade</th>
                        <th width="20%" style="text-align: center;">Preço</th>
                    </tr>
                </thead>
                <tr *ngFor="let prod of produtos; let i = index">
                    <td> {{i+1}}.</td>
                    <td> {{prod.descricao}} </td>
                    <td> {{prod.quantidade}} </td>
                    <td> {{prod.preco}}€ </td>
                </tr>
            </table>
        </div>
        <div>
            <h3 class="titulosSeccao">Planeamento</h3>
            <table class="table" id="listaPlaneamento"
                style="background-color: white; margin-left: 2% ;width: 90%; margin-top: 2%;">
                <thead class="thead-dark">
                    <tr>
                        <th width="25%" style="text-align: center;">Produto</th>
                        <th width="45%" style="text-align: center;">Linha</th>
                        <th width="15%" style="text-align: center;">Início</th>
                        <th width="15%" style="text-align: center;">Fim</th>
                    </tr>
                </thead>
                <tr *ngFor="let plano of planeamentoEncomenda">
                    <td> {{plano.produto}} </td>
                    <td> {{plano.linha}} </td>
                    <td> {{plano.inicio}} </td>
                    <td> {{plano.fim}} </td>
                </tr>
            </table>
        </div>
    </div>
</div>