.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}


.modal-contents {
	height: 900px;
	width: 1000px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

#planeamento {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }

#planeamento::after {
    content: "";
    background: url('https://cdn.app.compendium.com/uploads/user/e7c690e8-6ff9-102a-ac6d-e4aebca50425/ce16e294-d010-4c31-ae98-535f4d999cbc/File/0736e07604304b6bf6b0dfa0f86ee2d6/shutterstock_1366655588_eps.jpg');
    background-size: 100%;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}