<app-navbar-admin></app-navbar-admin>
<div class="main" id="tiposMaquina">
    <div class="slide-left">
        <h1 class="titulos">Tipos de Máquina</h1>
    </div>

    <div class="tiposMaquinaSeccao">
        <h3 class="titulosSeccao">Adicionar Tipo de Máquina</h3>
        <form style="margin-left: 5%;">
            <div class="row">
                <div class="col">
                    <label for="descTipoMaquina">Descrição Tipo Máquina</label>
                    <input #descTipoMaquina id="descTipoMaquina" type="text" class="form-control"
                        placeholder="(Exemplo: Furador)">
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="lOperacoestpm">Operações (descrições separadas por vírgulas)</label>
                    <textarea #lOperacoestpm id="lOperacoestpm" class="form-control"
                        placeholder="(Exemplo: Furar com broca de 5mm)" rows="5"></textarea>
                </div>
                <div class="col">
                </div>
            </div>
            <button (click)="addTipoMaquina(descTipoMaquina.value, lOperacoestpm.value)" type="submit"
                class="btn btn-primary botaoForm" id="botaoAdicionar">Adicionar</button>
        </form>
    </div>
    <div class="tiposMaquinaSeccao">
        <h3 class="titulosSeccao">Consultar Tipo de Máquina</h3>
        <form style="margin-left: 5%;">
            <div class="row">
                <div class="col">
                    <label for="descricao">Descrição Tipo Máquina</label>
                    <input #descricao id="descricao" type="text" class="form-control"
                        placeholder="(Exemplo: Furador)">
                </div>
                <div class="col">
                </div>
            </div>

            <button (click)="isTipoMaquina(descricao.value)" type="submit"
                class="btn btn-primary botaoForm" id="botaoConsultarDesc">Consultar</button>
        </form>
    </div>
    <div class="tiposMaquinaSeccao" style="margin-top: 15%;"> 
        <h3 class="titulosSeccao">Alterar Tipo de Máquina</h3>
        <form style="margin-left: 5%;">
            <div class="row">
                <div class="col">
                    <label for="descricaoTipoMaquina1">Descrição Tipo Máquina</label>
                    <input #descricaoTipoMaquina1 id="descricaoTipoMaquina1" type="text" class="form-control"
                        placeholder="(Exemplo: Furador)">
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="lops">Operações (descrições separadas por vírgulas)</label>
                    <input #lops id="lops" type="text" class="form-control" placeholder="(Exemplo: Furar com 8mm)">
                </div>
                <div class="col">
                </div>
            </div>
            <button (click)="editTipoMaquina(descricaoTipoMaquina1.value, lops.value)" type="submit"
                class="btn btn-primary botaoForm" id="botaoAlterar">Alterar</button>
        </form>
    </div>
    <div class="tiposMaquinaSeccao" style="margin-top: 15%;">
        <h3 class="titulosSeccao">Consultar Operações de Tipo de Máquina</h3>
        <form style="margin-left: 5%;">
            <div class="row">
                <div class="col">
                    <label for="descricaoTipoMaquina">Descrição Tipo Máquina</label>
                    <input #descricaoTipoMaquina id="descricaoTipoMaquina" type="text" class="form-control"
                        placeholder="(Exemplo: Furador)" >
                </div>
                <div class="col">
                </div>
            </div>

            <button (click)="getOpsTipoMaquina(descricaoTipoMaquina.value)" type="submit"
                class="btn btn-primary botaoForm" id="botaoConsultarOps">Consultar</button>
        </form>
    </div>
</div>