
#tiposMaquina {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }
  
#tiposMaquina::after {
    content: "";
    background: url('https://s2.best-wallpaper.net/wallpaper/3840x2160/1805/Metallurgy-steel-cutting-machine-sparks-factory_3840x2160.jpg');
    background-size: 100%;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.tiposMaquinaSeccao{
    margin-top: 2%;
    display: block;
    width: 50%;
    height: 60%;
    float: left;
}