<div class="main" id="encomenda">

    <div>
        <h1 class="titulos">Encomenda</h1>
    </div>

    <div class="produtoSeccao">
        <h3 class="titulosSeccao">Produtos</h3>
        <div class="row">
            <table class="table" id="produtosAll" style="background-color: white; margin-top: 5%; margin-left: 2%;">
                <thead class="thead-dark">
                    <tr>
                        <th width=70%>Descrição</th>
                        <th width=10% style="text-align: center;">Quantidade</th>
                        <th width=10%>Preço Unitário</th>
                        <th width=5% style="text-align: center;">Adicionar</th>
                        <th width=5% style="text-align: center;">Remover</th>
                    </tr>
                </thead>
                <tr *ngFor="let produto1 of produtos">
                    <td>{{produto1.descricao}}</td>
                    <td>
                        <input #quantidade id="quantidade" type="number" min="0"
                            onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                            class="form-control" value="{{encomenda.tempoConc}}">
                    </td>
                    <td>{{produto1.preco}}€</td>
                    <td>
                        <button (click)="inserirNaEncomenda(produto1, quantidade.value)" type="submit"
                            class="btn btn-primary botaoForm" id=botaoInserir style="margin-top: 0%;margin-left: 20%">+</button>
                    </td>
                    <td>
                        <button (click)="retirarNaEncomenda(produto1, quantidade.value)" type="submit"
                        class="btn btn-danger" id=botaoRetirar style="margin-top: 0%;margin-left: 20%">-
                        </button>
                    </td>

                </tr>
            </table>
        </div>


    </div>
    <div class="encomendaSeccao">
        <h3 class="titulosSeccao">A sua Encomenda</h3>
        <table class="table" id="encomendaCliente"
            style="background-color:white; margin-top: 6%; margin-left: 2%; width: 95%;">
            <thead class="thead-dark">
                <tr>
                    <th width=80%>Descrição</th>
                    <th width=10%>Quantidade</th>
                    <th width=10%>Preço Unitário</th>
                </tr>
            </thead>
            <tr *ngFor="let product of produtosEncomenda"></tr>
        </table>

        <div class="form-group row" style="margin-top: 5%;">
            <label style="margin-left: 5%; margin-top: 1%;" for="example-datetime-local-input"
                class="col-1.5 col-form-label">Preço Total:</label>
            <input style="margin-left: 5%; margin-top: 1%;" type="text" class="col-1 col-form-label" readonly="readonly"
                value="{{preco}}€">
            <label style="margin-left: 5%; margin-top: 1%;" for="example-datetime-local-input"
                class="col-2.5 col-form-label">Data de Conclusão:</label>
            <div class="col-3" style="margin-top: 1%;">
                <input class="form-control" type="date" id="date" #date>
            </div>
            <button (click)="alterarEncomenda(date.value)" type="submit" class="btn btn-primary botaoForm col-3"
                id=botaoSubmeter>Alterar Encomenda</button>
        </div>
    </div>
</div>