#encomenda {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }

#encomenda::after {
    content: "";
    background: url('https://e3.365dm.com/18/11/1600x900/skynews-delivery-courier_4496646.jpg?bypass-service-worker&20181123101056');
    background-size: 100%;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.produtoSeccao{
    margin-top: 2%;
    display: block;
    width: 50%;
    height: 60%;
    float: left;
}

.encomendaSeccao{
    margin-top: 2%;
    display: block;
    width: 50%;
    height: 60%;
    float: left;
}
