<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" id="titulo" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarPerfil" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Perfil
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/menuCliente" id="navbarPerfilVer">Consultar Perfil</a>
                    <div class="dropdown-divider" id="divisaoAlterar"></div>
                    <a class="dropdown-item" id="alterarPerfil" routerLink="/perfil">Alterar dados</a>
                </div>
            </li>
            <li class="nav-item dropdown" id="autEncomendas">
                <a class="nav-link dropdown-toggle" href="#" id="navbarEncomenda" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Encomendas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/encomenda" id="navbarVerEncomenda">Fazer Encomenda</a>
                </div>
            </li>
        </ul>


        <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">Logout</button>



    </div>
</nav>