<app-navbar-admin></app-navbar-admin>
<div class="main" id="ativarMaquinas">
    <div class="slide-left">
        <h1 class="titulos">Ativar/Desativar Máquinas</h1>
    </div>

    <table class="table" id="maquinasAll"
        style="background-color: white; margin-top: 10%; margin-left: 5%; width: 90%;">
        <thead class="thead-dark">
            <tr>
                <th>Número de Série</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Tipo de Máquina</th>
                <th width="20%">Mudança Estado</th>
            </tr>
        </thead>
        <tr *ngFor="let maquina1 of maquinas">
            <td> {{maquina1.numeroSerie}}</td>
            <td> {{maquina1.marca}}</td>
            <td> {{maquina1.modelo}}</td>
            <td> {{maquina1.descricaoTipoMaquina}}</td>
            <td *ngIf="maquina1.estado; else elseBlock"><button width="100%" (click)="mudarEstado(maquina1)"
                    class="btn btn-danger botaoForm col-3" id=botaoEstado>Desativar</button></td>
            <ng-template #elseBlock>
                <td> <button width="100%" (click)="mudarEstado(maquina1)" class="btn btn-success botaoForm col-3"
                        id=botaoEstado>Ativar</button> </td>
            </ng-template>
        </tr>
    </table>

</div>