<div class="register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src=" https://www.actaturcica.com/wp-content/uploads/2018/06/Fork-PNG-Transparent-Image-56.png"
                alt="" />
            <h3>Bem-vindo</h3>
            <p>Já tem uma conta? <a href="" id="linkLogin" routerLink="/login"> Faça Login </a></p>
        </div>
        <div class="col-md-9 register-right">

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Registo de Cliente</h3>

                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" #nomeEmpresa id="nomeEmpresa" class="form-control"
                                    placeholder="Nome da Empresa" value="" required />
                            </div>
                            <div class="form-group">
                                <input type="text" #nomeCliente id="nomeCliente" class="form-control"
                                    placeholder="Nome do Representante" value="" required />
                            </div>
                            <div class="form-group">
                                <input type="password" #pass1 id="pass1" class="form-control" placeholder="Password"
                                    value="" required />
                            </div>
                            <div class="form-group">
                                <input type="text" #morada id="morada" class="form-control" placeholder="Morada"
                                    value="" required />
                            </div>
                            <h3>Formas de Pagamento:</h3>
                            <div class="form-group">
                                <input type="checkbox" class="form-check-input" name="checkIBAN" id="checkIBAN"
                                    value="IBAN" onclick="checkIban()">
                                <label class="form-check-label" for="checkIBAN">Transferência Bancária ou Débito
                                    Direto</label>
                            </div>

                            <div class="form-group">
                                <input type="number" #iban id="iban" class="form-control" placeholder="IBAN" value=""
                                    readonly />
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" #email id="email" class="form-control" placeholder="Email" value=""
                                    required />
                            </div>
                            <div class="form-group">
                                <input type="number" #nif id="nif" class="form-control" placeholder="NIF Empresa"
                                    value="" required />
                            </div>
                            <div class="form-group">
                                <input type="password" #pass2 id="pass2" class="form-control"
                                    placeholder="Confirmar Password" value="" required />
                            </div>

                            <div class="form-group" style="margin-top: 20%;">
                                <input type="checkbox" class="form-check-input" name="checkCard" id="checkCard"
                                    value="Card" onclick="checkCard()">
                                <label class="form-check-label" for="checkCard">Cartão de Crédito</label>
                            </div>

                            <div class="form-group">
                                <input type="number" class="form-control" #cartao id="cartao"
                                    placeholder="Número do Cartão" value="" readonly />
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" #ccv2 id="ccv2" placeholder="CCV2" value=""
                                    readonly />
                            </div>
                            <div class="form-group">
                                <label class="form-check-label" for="data">Validade</label>
                                <input type="date" class="form-control" #data id="data" placeholder="Validade" value=""
                                    readonly />
                            </div>
                            <button (click)="abrirPopup()" type="submit" class="btn btn-primary btnRegister"
                                id="botaoPop">Registar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="consentimento" class="modal">

    <div class="modal-content">
        <span class="close" (click)="fecharPopup()">&times;</span>

        <p style="font-weight: bold; margin-top: 2%;"> Para criar uma conta na My Own Cutlery, é necessário concordar
            com as nossas Políticas de Privacidade. </p>
        <p> Quando cria uma conta, processamos os seus dados pessoais, baseado nestes pontos principais: </p>
        <ul>
            <li> Armazenamos informações que nos fornece, como nome, endereço de e-mail, morada e nome da empresa, para
                controlo de serviços. </li>
            <li> Vamos guardar o seu nome e o da empresa para termos uma forma de o identificar na
                nossa base de dados.</li>
            <li> Utilizamos o endereço de email e a morada para entrar em contacto com o cliente/empresa.
                Esta comunicação tem como objetivo o envio de faturas de encomendas efetudas
                na nossa aplicação, mudança de estado das mesmas e publicidade. </li>
            <li> O cartão bancário e/ou IBAN são utilizados para as transações financeiras , de forma a manter registo
                de todas as compras, e respetivo método de pagamento </li>
            <li> A qualquer pagamento efetuado, fica, automaticamente, ligado o número de contribuinte da empresa, com
                vista a identificar inequivocamente a entidade na transação financeira e pagamento de impostos. </li>
        </ul>
        <p> Em qualquer altura, é possível ao cliente, aceder aos seus dados (podendo mesmo alterá-los), a forma de
            tratamento dos mesmos e a sua finalidade. </p>
        <p> O cliente pode também solicitar a eliminação de certos dados: </p>
        <ul>
            <li> Se estes deixam de ser necessários para a sua finalidade. </li>
            <li> Quando é retirado o consentimento sobre os mesmos e não existe outro fundamento jurídico para o mesmo.
            </li>
            <li> Quando se oponha ao tratamento e não existam interesses legítimos prevalecentes. </li>
            <li> Quando os dados pessoais foram tratados ilicitamente. </li>
            <li> Quando os dados pessoais têm de ser apagados para o cumprimento de uma obrigação jurídica. </li>
            <li> Quando os dados pessoais foram recolhidos no contexto da oferta de serviços da sociedade da informação.
            </li>
        </ul>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="consentimentoCheck" id="consentimentoCheck">
            <label class="form-check-label" for="consentimentoCheck">Aceito as políticas de privacidade</label>
        </div>

        <button (click)="registo(nomeEmpresa.value,nomeCliente.value,pass1.value,pass2.value,email.value,
        nif.value,morada.value,iban.value,cartao.value,ccv2.value,data.value)" type="submit"
            class="btn btn-primary btnRegister" id="botaoRegistar"
            style="width: 20%; margin-left: 70%; margin-top: 0;">Confirmar</button>

    </div>

</div>