<script type="text/javascript" src="three.min.js"></script>
<script type="text/javascript" src="DragControls.js"></script>
<script type="text/javascript" src="OrbitControls.js"></script>
<script type="text/javascript" src="EventsControls.js"></script>

<app-navbar-admin></app-navbar-admin>
<span style="position:absolute;top:100px;left:100px;">
	<input class="btn btn-light" type="button" id="adicionarMaquinas" (click)="mostrarPopupAdicionarMaquina()"
		style="z-index: inherit 265;margin-top: 3%;" value="Adicionar Máquina" /><br />
	<input class="btn btn-light" type="button" id="editarLinha" (click)="mostrarPopupLinhas()"
		style="z-index: inherit 265;margin-top: 3%;" value="Editar Linha de Produção" /><br />
	<input class="btn btn-light" type="button" id="editarMaquina" (click)="mostrarPopupMaquinas()"
		style="z-index: inherit 265;margin-top: 3%;" value="Editar Máquina" />
</span>
<div style="position: absolute; top: 10%;right: 5%;">
	<p>Mover Virar em Vista Panoramica: Botão Direito do Rato premido e arrastar. </p>
	<p>Zoom In: Scroll Down.</p>
	<p>Zoom Out: Scroll Up.</p>
	<p>Reset Posição: R.</p>
</div>

<div id="myModalAdicionarMaquina" class="modal">

	<!-- Modal content -->
	<div class="modal-content">
		<span class="close" (click)="fecharPopupAdicionarMaquina()">&times;</span>
		<form style="margin-left: 5%;">
            <div class="row">
                <div class="col">
                    <label for="marcaMaquina">Marca da máquina</label>
                    <input #marcaMaquina id="marcaMaquina" type="text" class="form-control">
                </div>
				<div class="col">
                    <label for="modeloMaquina">Modelo da máquina</label>
                    <input #modeloMaquina id="modeloMaquina" type="text" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="descricaoTipoMaquina">Tipo de Máquina</label>
                    <input #descricaoTipoMaquina id="descricaoTipoMaquina" type="text" class="form-control"
                        placeholder="(Exemplo: Maquina de perfurar de 8mm)">
                </div>
				<div class="col">
                    <label for="numeroSerie">Número de Série</label>
                    <input #numeroSerie id="numeroSerie" type="text" class="form-control"
                        placeholder="Exemplo: (MS17636)">
                </div>
            </div>

            <button
                (click)="addMaquina(marcaMaquina.value,modeloMaquina.value,descricaoTipoMaquina.value, numeroSerie.value)"
                type="submit" id="botaoAdicionar" class="btn btn-primary botaoForm">Adicionar</button>
        </form>
	</div>

</div>

<div id="myModalLinhas" class="modal">

	<!-- Modal content -->
	<div class="modal-content">
		<span class="close" (click)="fecharPopupLinhas()">&times;</span>
		<table class="table" id="linhasProd" style="background-color: white; margin-top:1%; margin-left:2%;width: 80%;">
			<thead class="thead-dark">
				<tr>
					<th>Número de Máquinas</th>
					<th>Posição: X</th>
					<th>Posição Y</th>
					<th>Nova Posição: X</th>
					<th>Nova Posição: Y</th>
					<th>Alterar</th>
				</tr>
			</thead>
			<tr *ngFor="let linha1 of linhasEdit">

				<td> {{linha1.nMaquinas}}</td>
				<td> {{linha1.x}}</td>
				<td> {{linha1.y}}</td>
				<td> <input #novoX id="novoX" type="number" class="form-control" placeholder="X"> </td>
				<td> <input #novoY id="novoY" type="number" class="form-control" placeholder="Y"></td>
				<td> <input class="btn btn-light" type="button" (click)="editarLinha(linha1,novoX.value,novoY.value)"
						value="Alterar" /></td>
			</tr>
		</table>
	</div>

</div>

<div id="myModalMaquinas" class="modal">

	<!-- Modal content -->
	<div class="modal-content">
		<span class="close" (click)="fecharPopupMaquinas()">&times;</span>
		<table class="table" id="maquinas" style="background-color: white; margin-top:1%; margin-left:2%;width: 80%;">
			<thead class="thead-dark">
				<tr>
					<th>Número de Série</th>
					<th>Número de Sequência</th>
					<th>Marca</th>
					<th>Modelo</th>
					<th>Novo Número de Sequência</th>
					<th>Alterar</th>
				</tr>
			</thead>
			<tr *ngFor="let maquina of maquinasEdit">

				<td> {{maquina.numeroSerie}}</td>
				<td> {{maquina.nSequencia}}</td>
				<td> {{maquina.marca}}</td>
				<td> {{maquina.modelo}}</td>
				<td> <input #novoNum id="novoNum" type="number" class="form-control" placeholder="Número de Sequência"> </td>
				<td> <input class="btn btn-light" type="button" (click)="editarMaquina(maquina,novoNum.value)"
						value="Alterar" /></td>
			</tr>
		</table>
	</div>

</div>


<div class="engine-wrapper">
	<canvas #rendererCanvas id="renderCanvas"></canvas>
</div>

<div id="tooltip"></div>