<app-navbar-client></app-navbar-client>
<div class="main" id="perfil">
    <!--     <h3 class="titulosSeccao">Dados</h3>
 -->
    <form style="margin-left: 5%;">
        <div class="infoDados">
            <div class="row">
                <label for="nomeCliente">Nome</label>
                <input #nomeCliente id="nomeCliente" type="text" class="form-control" value="{{user.cliente}}">
                <div class="col">
                </div>
            </div>


            <div class="row">
                <label for="emailCliente">Email</label>
                <input #emailCliente id="emailCliente" type="text" class="form-control" value="{{user.email}}">
                <div class="col">
                </div>
            </div>

            <div class="row">
                <label for="morada">Morada</label>
                <input #morada id="morada" type="text" class="form-control" value="{{user.morada}}">
                <div class="col">
                </div>
            </div>


            <div class="row">
                <label for="cartaoCliente">Cartão de Crédito</label>
                <input #cartaoCliente id="cartaoCliente" type="text" class="form-control" value="****{{pagamento}}"
                    readonly width="10%">
                <button (click)="alterarCartaoOpen()" type="submit" class="btn btn-primary botaoForm"
                    id='botaoCartao'>Alterar Cartão de Crédito</button>
                <div class="col">
                </div>
            </div>
        </div>

        <div class="infoDados" style="margin-left: 5%;">
            <div class="row">
                <label for="nifCliente">NIF</label>
                <input #nifCliente id="nifCliente" type="text" class="form-control" value="{{user.nif}}">
                <div class="col">
                </div>
            </div>
            <div class="row">
                <label for="empresaCliente">Empresa</label>
                <input #empresaCliente id="empresaCliente" type="text" class="form-control" value="{{user.empresa}}">
                <div class="col">
                </div>
            </div>
            <div class="row">
                <label for="ibanCliente">IBAN</label>
                <input #ibanCliente id="ibanCliente" type="text" class="form-control" value="{{user.iban}}">
                <div class="col">
                </div>
            </div>

            <div class="row" style="margin-top: 5%;">
                <button
                    (click)="alterarCliente(empresaCliente.value,nomeCliente.value,emailCliente.value,nifCliente.value,ibanCliente.value,morada.value)"
                     type="submit" class="btn btn-primary botaoForm"
                    id='botaoAtualizarCliente'>Alterar</button>

                <button (click)="alterarPasswordOpen()" type="submit" style="margin-left: 5%;" class="btn btn-primary botaoForm"
                    id='botaoPassword'>Alterar Password</button>
            </div>

        </div>
    </form>


    <div class="bg-modal" id="alterarCartao-modal">
        <div class="modal-contents">

            <div class="close" (click)="alterarCartaoClose()">+</div>
            <img src="https://live.staticflickr.com/2618/5764927041_b32712c464_b.jpg" style="width: 50%">

            <form action="">
                <div class="row" style="margin-left: 15%; margin-top: 3%; margin-right: 15%;">
                    <input #novoNumCartao id="novoNumCartao" type="text" margin=" 15px auto" class="form-control"
                        placeholder="Numero do Cartao">
                    <div class="col">
                    </div>
                </div>
                <div class="row" style="margin-left: 15%; margin-top: 3%;margin-right: 15%;">
                    <input #novoCCV id="novoCCV" type="text" class="form-control" placeholder="CCV2">
                </div>
                <div class="row" style="margin-left: 15%; margin-top: 3%;margin-right: 15%;">
                    <input #novoValidade id="novoValidade" type="date" class="form-control"
                        placeholder="Data de Validade">
                </div>
                <div class="row" style="margin-left: 40%; margin-top: 1%;">
                    <button id=novoCartao type="submit" class="btn btn-primary botaoForm"
                        (click)="alterarCartao(novoNumCartao.value,novoCCV.value,novoValidade.value)">Alterar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="bg-modal" id="alterarPassword-modal">
        <div class="modal-contents">

            <div class="close" (click)="alterarPasswordClose()">+</div>

            <form action="">
                <div class="row" style="margin-left: 15%; margin-top: 10%; margin-right: 15%;">
                    <input #oldPassword id="oldPassword" type="password" margin=" 15px auto" class="form-control"
                        placeholder="Password atual">
                    <div class="col">
                    </div>
                </div>
                <div class="row" style="margin-left: 15%; margin-top: 3%;margin-right: 15%;">
                    <input #newPassword id="newPassword" type="password" class="form-control" placeholder="Nova password">
                </div>
                <div class="row" style="margin-left: 15%; margin-top: 3%;margin-right: 15%;">
                    <input #newPassword2 id="newPassword2" type="password" class="form-control"
                        placeholder="Confirme a nova password por favor">
                </div>
                <div class="row" style="margin-left: 40%; margin-top: 3%;">
                    <button id=novaPassword type="submit" class="btn btn-primary botaoForm"
                        (click)="alterarPassword(oldPassword.value,newPassword.value,newPassword2.value)">Alterar</button>
                </div>
            </form>
        </div>
    </div>
</div>