
#operacoes {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }
  
#operacoes::after {
    content: "";
    background: url('https://d3kqdc25i4tl0t.cloudfront.net/articles/content/529_355973_operations.hero.jpg');
    opacity: 0.2;
    background-size: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}

.operacoesSeccao{
    margin-top: 2%;
    display: block;
    width: 50%;
    float: left;
}