<app-navbar-admin></app-navbar-admin>
<div class="main" id="operacoes">
    <div class="slide-left">
        <h1 class="titulos">Operações</h1>
    </div>

    <div class="operacoesSeccao">
        <h3 class="titulosSeccao">Adicionar Operação</h3>
        <form style="margin-left: 5%;">
            <div class="row">
                <div class="col">
                    <label for="descricaoOperacao">Descrição Operação</label>
                    <input #descricaoOperacao id="descricaoOperacao" type="text" class="form-control"
                        placeholder="(Exemplo: Furar)">
                </div>
                <div class="col">
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <label for="ferramenta">Ferramenta Operação</label>
                    <input #ferramenta id="ferramenta" type="text" class="form-control"
                        placeholder="(Exemplo: Broca de 15mm)">
                </div>
                <div class="col">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="duracaoOperacao">Duração Operação</label>
                    <input #duracaoOperacao id="duracaoOperacao" type="number" class="form-control"
                        placeholder="(Em segundos)">
                </div>
                <div class="col">
                </div>
            </div>

            <button (click)="addOperacao(descricaoOperacao.value,duracaoOperacao.value, ferramenta.value)" type="submit"
                class="btn btn-primary botaoForm" id="botaoAdicionar">Adicionar</button>
        </form>
    </div>
    <div class="operacoesSeccao">
        <h3 class="titulosSeccao">Consultar Operação</h3>
        <form style="margin-left: 5%;">
            <div class="row">
                <div class="col">
                    <label for="descOp">Descricao Operação</label>
                    <input #descOp id="descOp" type="text" class="form-control">
                </div>
                <div class="col">
                </div>
            </div>

            <button (click)="getOperacao(descOp.value)" type="submit"
                class="btn btn-primary botaoForm" id="botaoConsultar">Consultar</button>
        </form>
    </div>
</div>