<app-navbar-admin></app-navbar-admin>
<div class="main" id="maquinas">
    <div class="slide-left">
        <h1 class="titulos">Máquinas</h1>
    </div>

    <div class="maquinaSeccao">
        <h3 class="titulosSeccao">Adicionar Máquina </h3>
        <form style="margin-left: 5%;">
            <div class="row">
                <div class="col">
                    <label for="marcaMaquina">Marca da máquina</label>
                    <input #marcaMaquina id="marcaMaquina" type="text" class="form-control">
                </div>
                <div class="col">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="modeloMaquina">Modelo da máquina</label>
                    <input #modeloMaquina id="modeloMaquina" type="text" class="form-control">
                </div>
                <div class="col">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="descricaoTipoMaquina">Tipo de Máquina</label>
                    <input #descricaoTipoMaquina id="descricaoTipoMaquina" type="text" class="form-control"
                        placeholder="(Exemplo: Maquina de perfurar de 8mm)">
                </div>
                <div class="col">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="numeroSerie">Número de Série</label>
                    <input #numeroSerie id="numeroSerie" type="text" class="form-control"
                        placeholder="Exemplo: (MS17636)">
                </div>
                <div class="col">
                </div>
            </div>

            <button
                (click)="addMaquina(marcaMaquina.value,modeloMaquina.value,descricaoTipoMaquina.value, numeroSerie.value)"
                type="submit" id="botaoAdicionar" class="btn btn-primary botaoForm">Adicionar</button>
        </form>
    </div>

    <div class="maquinaSeccao">
        <h3 class="titulosSeccao">Consultar Máquina</h3>
        <form style="margin-left: 30%;">
            <div class="row">
                <div class="col">
                    <label for="idMaquina2">Número de Série da Máquina</label>
                    <input #idMaquina2 id="idMaquina2" type="text" class="form-control">
                </div>
                <div class="col">
                </div>
            </div>

            <button (click)="getMaquina(idMaquina2.value)" type="submit" class="btn btn-primary botaoForm"
                id=botaoConsultar>Consultar</button>
        </form>
    </div>




    <div class="atualizarMaquinaSeccao" id="atualizar">

        <h3 class="titulosSeccao">Alterar Tipo de Máquina</h3>

        <div class="row">

            <div class="col">
                <table class="table" id="maquinasAll" style="background-color: white; margin-top: 10%; margin-left: 2%">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>Número de Série</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Tipo de Máquina</th>

                        </tr>
                    </thead>
                    <tr *ngFor="let maquina1 of maquinas">
                        <td><input type="radio" name="radioM" value="string"
                                (change)=radioMaquinaChangeHandler(maquina1)>
                        </td>
                        <td> {{maquina1.numeroSerie}}</td>
                        <td> {{maquina1.marca}}</td>
                        <td> {{maquina1.modelo}}</td>
                        <td> {{maquina1.descricaoTipoMaquina}}</td>

                    </tr>
                </table>
            </div>

            <div class="col" style="margin-left: 10%">

                <div class="row">

                    <table class="table" id="tiposMaquinaAll" style="background-color: white; width: 70%; margin-top: 10%;" width="200">
                        <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th>Desrição do tipo de máquina</th>
                            </tr>
                        </thead>

                        <tr *ngFor="let tipo of tiposMaquinas">
                            <td><input type="radio" name="radioT" value="string"
                                    (change)=radioTipoMaquinaChangeHandler(tipo)>
                            </td>
                            <td> {{tipo.descricao}}</td>
                        </tr>

                    </table>
                </div>

                <button (click)="alterarTipoMaquina()" type="submit" class="btn btn-primary botaoForm"
                    id='botaoAtualizar'>Atualizar</button>

            </div>

        </div>
    </div>
</div>