#maquinas {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }

#maquinas::after {
    content: "";
    background: url('https://d24x5qendt1bag.cloudfront.net/uploads/2017/07/13111801/INDUSTRYFORUM-SMART-MANUFACTURING-AND-SERVICES.jpg') ;
    background-repeat: repeat-y;
    background-size: 100%;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}

.maquinaSeccao{
    margin-top: 2%;
    display: block;
    width: 50%;
    height: 60%;
    float: left;
}

.atualizarMaquinaSeccao{
    margin-top: 15%;
    display: block;
    width: 100%;
    height: 60%;
    float: left;
}
