<app-navbar-client></app-navbar-client>

<div class="main" id="menuCliente">
    <form style="margin-left: 5%;">
        <div class="infoDados">
            <div class="row">
                <label for="nomeCliente">Nome</label>
                <input #nomeCliente id="nomeCliente" type="text" class="form-control" value="{{user.cliente}}"
                    readonly="readonly">
                <div class="col">
                </div>
            </div>


            <div class="row">
                <label for="emailCliente">Email</label>
                <input #emailCliente id="emailCliente" type="text" class="form-control" value="{{user.email}}"
                    readonly="readonly">
                <div class="col">
                </div>
            </div>


            <div class="row">
                <label for="cartaoCliente">Forma de Pagamento</label>
                <input #cartaoCliente id="cartaoCliente" type="text" class="form-control" value="****{{pagamento}}"
                    readonly="readonly">
                <div class="col">
                </div>
            </div>
        </div>

        <div class="infoDados" style="margin-left: 5%;">
            <div class="row">
                <label for="nifCliente">NIF</label>
                <input #nifCliente id="nifCliente" type="text" class="form-control" value="{{user.nif}}"
                    readonly="readonly">
                <div class="col">
                </div>
            </div>
            <div class="row">
                <label for="empresaCliente">Empresa</label>
                <input #empresaCliente id="empresaCliente" type="text" class="form-control" value="{{user.empresa}}"
                    readonly="readonly">
                <div class="col">
                </div>
            </div>

            <div class="row">
                <label for="morada">Morada</label>
                <input #morada id="morada" type="text" class="form-control" value="{{user.morada}}" readonly="readonly">
                <div class="col">
                </div>
            </div>

        </div>


        <div class="infoEncomendas" style="margin-top: 5%; margin-left: 9.5%;">

            <h3 class="titulosSeccao">Encomendas</h3>

            <table class="table" id="encomendas" style="background-color: white; margin-left: 2%">
                <thead class="thead-dark">
                    <tr>
                        <th width="30%" style="text-align: center;">Data da Encomenda</th>
                        <th width="30%" style="text-align: center;">Prazo de Conclusão</th>
                        <th width="20%" style="text-align: center;">Estado</th>
                        <th width="20%" style="text-align: center;">Detalhes</th>

                    </tr>
                </thead>
                <tr *ngFor="let enc of encomendas">
                    <td style="text-align: center;"> {{enc.data}} </td>
                    <td style="text-align: center;"> {{enc.tempoConc}} </td>
                    <td style="text-align: center;"> {{enc.estado}}</td>
                    <td style="text-align: center;"> <button type="button" (click)="abrirDetalhesEncomenda(enc)"
                            class="btn btn-primary" id=botaoDetalhes>+</button>
                    </td>
                </tr>
            </table>

        </div>

    </form>
</div>

<div class="bg-modal" id="abrirDetalhesEncomenda-modal">
    <div class="modal-contents">
        <div class="close" id=botaoFecharDetalhes (click)="fecharDetalhesEncomenda()">+</div>
        <div>
            <h3 class="titulosSeccao" style="margin-top: 2%">Encomenda</h3>

            <h5 *ngIf="flagEstado" style="margin-top: 2%"> Previsao data de entrega: {{dataPrevisao}}</h5>

            <table class="table" id="listaEncomendas"
                style="background-color: white; margin-left: 2% ;width: 90%; margin-top: 5%;">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th width="60%" style="text-align: center;">Produto</th>
                        <th width="20%" style="text-align: center;">Quantidade</th>
                        <th width="20%" style="text-align: center;">Preço</th>
                    </tr>
                </thead>
                <tr *ngFor="let prod of produtos; let i = index">
                    <td> {{i+1}}</td>
                    <td> {{prod.descricao}} </td>
                    <td> {{prod.quantidade}} </td>
                    <td> {{prod.preco}} </td>
                </tr>
            </table>
            <div *ngIf="flagEstado">
                <div *ngIf="flagAlterar">
                    <button type="button" class="btn btn-primary" id="btnAlterarEncomenda" routerLink="/alterarEncomenda"> Alterar</button>
                </div>
                <div></div>
                <div *ngIf="flagCancelar">
                    <button type="button" class="btn btn-danger" id="btnCancelarEncomenda" style="margin-top: 2%;"
                        (click)="cancelarEncomenda()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>