#menuCliente {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

#menuCliente::after {
    content: "";
    background: url("https://cdn.hipwallpaper.com/m/19/9/tK3WXy.jpg") ;
    background-repeat: repeat-y;
    background-size: 100%;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}

.infoDados{
    margin-top: 2%;
    margin-left: 3%;
    display: block;
    width: 40%;
    height: 60%;
    float: left;
}

.infoEncomendas{
    margin-top: 2%;
    display: block;
    width: 70%;
    height: 60%;
    float: left;
}

.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}


.modal-contents {
	height: 900px;
	width: 1000px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}