<app-navbar-admin></app-navbar-admin>
<div class="main" id="produtos">
    <div class="slide-left">
        <h1 class="titulos">Produtos</h1>
    </div>
    <div class="produtosSeccao">
        <h3 class="titulosSeccao">Adicionar Produto</h3>
        <form style="margin-left: 5%;">
            <div class="row">
                <div class="col">
                    <label for="precoProduto">Preço Produto</label>
                    <input #precoProduto id="precoProduto" type="text" class="form-control"
                        placeholder="(Exemplo: 10€)">
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="descricaoProduto">Descrição Produto</label>
                    <input #descProduto id="descricaoProduto" class="form-control" placeholder="(Exemplo: Garfo)">
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="planoFabricoProduto">Plano Fabrico</label>
                    <textarea #planoFabricoProduto id="planoFabricoProduto" class="form-control"
                        placeholder="(Exemplo: Operacao1,Operação2)" rows="2"></textarea>
                </div>
                <div class="col">
                </div>
            </div>
            <button (click)="addProduto(precoProduto.value, descProduto.value, planoFabricoProduto.value)" type="submit"
                class="btn btn-primary botaoForm" id="botaoAdicionar">Adicionar</button>

        </form>
    </div>
    <div class="produtosSeccao">
        <h3 class="titulosSeccao">Consultar Plano Fabrico</h3>
        <form style="margin-left: 5%;">
            <div class="row">
                <div class="col">
                    <label for="idProdutoPlano">Descrição Produto</label>
                    <input #idProdutoPlano id="idProdutoPlano" type="text" class="form-control" placeholder="(Exemplo: Faca)">
                </div>
                <div class="col">
                </div>
            </div>
            <button (click)="getPlanoFabrico(idProdutoPlano.value)" type="submit"
                class="btn btn-primary botaoForm" id="botaoConsultarPlano">Consultar</button>
        </form>
    </div>
    <div class="produtosSeccao" style="margin-top: 15%;">
        <h3 class="titulosSeccao">Consultar Produto</h3>
        <form style="margin-left: 5%;">
            <div class="row">
                <div class="col">
                    <label for="idProduto">Descrição Produto</label>
                    <input #idProduto id="idProduto" type="text" class="form-control" placeholder="(Exemplo: Colher)">
                </div>
                <div class="col">
                </div>
            </div>
            <button (click)="getProduto(idProduto.value)" type="submit"
                class="btn btn-primary botaoForm" id="botaoConsultarProduto">Consultar</button>
        </form>
    </div>
</div>