
#produtos {
    width: 100%;
    height: 110%;
    display: block;
    position: relative;
  }
  
#produtos::after {
    content: "";
    background: url('https://www.tokkoro.com/picsup/3002648-cutlers_cutlery_forks_kitchen_knives_silver_silverware_table.jpg');
    background-repeat: repeat repeat;
    background-size: 100%;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed; /*fixed is nice too*/
    z-index: -1;
}

.produtosSeccao{
    margin-top: 2%;
    display: block;
    width: 50%;
    height: 60%;
    float: left;
    z-index: 1;
}