
#linhas {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }
  
#linhas::after {
    content: "";
    background: url('https://free4kwallpapers.com/uploads/originals/2018/02/24/dolna-odra-power-plant-poland-wallpaper.jpg') no-repeat;
    opacity: 0.2;
    background-size: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}

#maquinasDisponiveis{
    width: 70%;
    background-color: white; 
    margin-top: 5%;
    margin-left: 15%;
}