<app-navbar-admin></app-navbar-admin>
<div class="main" id="linhas">
    <div class="slide-left">
        <h1 class="titulos">Linhas de Produção</h1>
    </div>

    <h3 class="titulosSeccao">Adicionar Linha de Produção</h3>
    <form>

        <div class="row">
            <div class="col"></div>
            <div class="col">
                <label for="posx">Posição: X</label>
                <input #posx id="posx" type="number" class="form-control" min="-50" max="50">
            </div>
            <div class="col">
            </div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col">
                <label for="posy">Posição: Y</label>
                <input #posy id="posy" type="number" class="form-control" min="-50" max="50">
            </div>
            <div class="col">
            </div>
        </div>

        <table class="table" id="maquinasDisponiveis">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 30%;">Selecionar máquinas por ordem na Linha</th>
                    <th>Nº Série</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tr *ngFor="let m of maquinasSemLinha">
                <td> <input type="checkbox" (change)="selecionarMaquina(m)"> </td>
                <td> {{m.numeroSerie}} </td>
                <td> {{m.marca}}</td>
                <td> {{m.modelo}}</td>
                <td> {{m.descricaoTipoMaquina}}</td>
            </tr>

        </table>
        <button (click)="addLinhaProducao(posx.value,posy.value)" type="submit" class="btn btn-primary botaoForm"
            id="botaoAdicionar" style="margin-left: 15%;">Adicionar</button>
    </form>

</div>