@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

html, body {
    min-height: 100% !important;
    height: 100%;
    min-width: 100% !important;
    width: 100%;
    overflow-x: hidden;
}

.background-image{
    opacity: 0.2;
}

.titulos {
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 150px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  position: relative;
  text-align: center;
  padding-top: 5%;
}

.titulosSeccao {
    font-family: 'Open Sans', sans-serif;
    color: #123456;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 75px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    position: relative;
    text-align: center;
    padding-top: 5%;
}

.botaoForm{
    margin-top: 10px;
}

.slide-left {
  width:100%;
}
.slide-left h1 {
  animation: slide-left 4s;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 100%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


