<app-navbar-admin></app-navbar-admin>

<div class="main" id="gestaoClientes">
    <form style="margin-left: 13%; margin-right: 20%;">

        <div class="infoDados">
            <h4 class="titulosSeccao">Clientes</h4>

            <table class="table" id="clientes" style="background-color: white; margin-top: 10%; margin-left: 2%">
                <thead class="thead-dark">
                    <tr>
                        <th width="40%">Nome</th>
                        <th width="40%">Morada</th>
                        <th *ngIf="alterarFlag" width="20%">Alterar</th>
                    </tr>
                </thead>
                <tr *ngFor="let cliente1 of clientes">
                    <td><input #cliente id="cliente" type="text" class="form-control" value="{{cliente1.cliente}}"></td>
                    <td><input #morada id="morada" type="text" class="form-control" value=""></td>
                    <td *ngIf="alterarFlag"><button class="btn btn-light" (click)=alterarCliente(cliente1,cliente.value,morada.value)>
                        Alterar </button></td>
                </tr>
            </table>
        </div>
    </form>
</div>