<div class="register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="http://www.pngmart.com/files/3/Knife-PNG-Transparent.png" alt="" />
      <h3>Bem-vindo</h3>
      <p>Ainda não tem uma conta? <a href="" id="linkLogin" routerLink="/registo"> Registe-se </a></p>
    </div>
    <div class="col-md-9 register-right">

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Login</h3>
          <div class="row register-form">
            <div class="col-md-10">
              <div class="form-group" style="margin-left: 20%;">
                <input type="email" #email id="email" class="form-control" placeholder="Email" value="" />
              </div>
              <div class="form-group" style="margin-left: 20%;">
                <input type="password" #password id="password" class="form-control" placeholder="Password" value="" />
              </div>
              <button (click)="login(email.value,password.value)" type="submit" class="btn btn-primary btnRegister" id="botaoLogin">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>