<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" id="titulo" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarOperacoes" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Operações
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/operacao" id="navbarOperacoesAdd">Adicionar Operação</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/operacao">Consultar Operação</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarTipos" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Tipos de Máquina
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="navbarTiposAdd" routerLink="/tipoMaquina">Adicionar Tipo de Máquina</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/tipoMaquina">Atualizar Operações de Tipo de Máquina</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/tipoMaquina">Consultar Tipo de Máquina</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/tipoMaquina">Consultar Operações de Tipo de Máquina</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarMaq" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Máquinas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="navbarMaqAdd" routerLink="/maquina">Adicionar Máquina</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/maquina">Atualizar Tipo de Máquina de Máquina</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/maquina">Consultar Máquina</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="navbarMaqAtivar" routerLink="/ativarMaquina">Ativar/Desativar Máquina</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarProd" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Produtos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="navbarProdAdd" routerLink="/produto">Adicionar Produto</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/produto">Consultar Produto</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/produto">Consultar Plano de Fabrico de Produto</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarLinhas" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Linhas de Produção
                </a>
                <div class="dropdown-menu" id="navbarLinhasAdd" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/linhaProducao">Adicionar Linha de Produção</a>
                </div>
            </li>
            <li class="nav-item active" id="autClientes">
                <a class="nav-link" id="navbarClientes" routerLink="/clientes">Clientes <span
                        class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active" id="autEncomendas">
                <a class="nav-link" id="navbarEncomenda" routerLink="/encomendas">Encomendas <span
                        class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active" id="autPlaneamento">
                <a class="nav-link" id="navbarPlaneamento" routerLink="/planeamento">Planeamento <span
                        class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" id="navbarVis" routerLink="/visualizacao">Visualização 3D <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>

        <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">Logout</button>
    </div>
</nav>